@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #d1fae5a2;
  color: #022c22;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
